@model A4.Models.HeroIdentity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HeroIdentity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdentityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CharacterName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
